<body>
    <!-- Page Content -->

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h1 class='text-white'>Register Theatre</h1>
                <div class="form-login">
                    <br>

                    <input type="text" id="" class="form-control input-sm chat-input" placeholder="Theatre Name" />
                    <input type="text" name="" class="form-control input-sm chat-input" placeholder="Location">
                    <div class="wrapper">
                        <span class="group-btn">
                            <a href="#" class="btn btn-danger btn-md">Register <i class="fa fa-sign-in"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!--footer-->
        <div class="footer text-white text-center">

        </div>
        <!--//footer-->
    </div>
</body>