<body>
    <!-- Page Content -->

    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <h1 class='text-white'>Book My Show</h1>
                <div class="form-login">
                    <br>
                    <div class="row">
                        <button class="btn col" routerLink="/login">Login</button>
                        <button class="btn col">Sign Up</button>
                    </div>
                    <input type="text" id="userName" class="form-control input-sm chat-input" placeholder="username" />
                    <input type="email" name="" class="form-control input-sm chat-input" placeholder="Email">
                    <input type="number" name="" class="form-control input-sm chat-input" placeholder="Phone Number">
                    <input type="passsword" id="userPassword" class="form-control input-sm chat-input" placeholder="password" />
                    <input type="password" name="" class="form-control input-sm chat-input" placeholder="Confirm Password">
                    <div class="wrapper">
                        <span class="group-btn">
                            <a href="#" class="btn btn-danger btn-md">Sign Up <i class="fa fa-sign-in"></i></a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!--footer-->
        <div class="footer text-white text-center">

        </div>
        <!--//footer-->
    </div>
</body>